parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    reportUnmatchedIgnoredErrors: false
    typeAliases:
        MessageArray: 'array{role: string, content: string}'
        MessageList: 'list<MessageArray>'
