html {
    background: #2970ef url('/wsc-hero.jpeg') no-repeat right center fixed;
}
body {
    height: 100vh;
    &.chat {
        background: rgba(255, 255, 255, 0.3);
    }
    &.youtube {
        background: rgb(34,34,34);
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(71, 71, 71) 100%);
    }
    &.wikipedia {
        background: url('/wiki.png') no-repeat right 50px bottom 50px fixed, linear-gradient(0deg, rgb(246, 246, 246) 0%, rgb(197, 197, 197) 100%);
    }
}

.card {
    border: 1px solid #bcbcbc;
    background-color: rgba(250, 250, 250, 0.9);
}

.card-header {
    background: #efefef;

    svg {
        margin-top: -2px;
    }
}

.card-body {
    height: 700px;

    .wikipedia & {
        background-image: linear-gradient(135deg, #f2f2f2 16.67%, #ebebeb 16.67%, #ebebeb 50%, #f2f2f2 50%, #f2f2f2 66.67%, #ebebeb 66.67%, #ebebeb 100%);
        background-size: 21.21px 21.21px;
    }

    .user-message {
        border-radius: 10px 10px 0 10px;
        background: #668ccf;
        color: #fff;
    }

    .bot-message {
        border-radius: 10px 10px 10px 0;

        .chat & {
            background: #dc8b6e;
        }
        .youtube & {
            background: #df3535;
        }
        .wikipedia & {
            background: #ffffff;
            color: #292929 !important;
        }
        color: #fff;

        p {
            margin-bottom: 0;
        }
    }

    .avatar {
        width: 50px;
        height: 50px;
        border: 2px solid white;

        .chat &.bot {
            outline: 1px solid #ffdacc;
            background: #ffdacc;
        }

        .youtube &.bot {
            outline: 1px solid #ffcccc;
            background: #ffcccc;
        }

        .wikipedia &.bot {
            outline: 1px solid #eaeaea;
            background: #eaeaea;
        }

        .chat &.user, .youtube &.user {
            outline: 1px solid #d9e9ff;
            background: #d9e9ff;
        }
    }
}

.card-footer {
    background: #efefef;

    input:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

#welcome {
    h4 {
        .chat & {
            color: #f97b62;
        }
        .youtube & {
            color: #ff0000;
        }
    }
}

#chat-reset, #chat-submit {
    .chat &:hover {
        background: #f97b62;
        border-color: #f97b62;
    }
    .youtube &:hover {
        background: #ff0000;
        border-color: #ff0000;
    }
}
